<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<form th:method="Post" th:action="@{/login}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>
    <input type="submit" th:value="Submit">

    <div th:if="${hasErrors}"  >
        <div class="errors" th:text="${errors}">

        </div>
    </div>

</form>

</body>
</html>